* {
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    box-sizing:border-box;
}

body, html {
    background-color: black;
}



.wrapper {
    margin-right: auto;
    margin-left: auto;
    width: 600px;
    height: 400px;
    background-image: url("Background.png");
    background-size: cover !important;
    background-repeat: no-repeat;
    margin-top: 100px;

}


.submitnames {
    display: flex;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 30px;
}

#player1 {
    margin: 10px 0 0 10px;
    padding: 0;
    flex: 1;
}


#player2 {
    margin: 10px 10px 0 0;
    padding: 0;

}

.dude {
    margin:0 auto; /* this will center  it */
    color:black;
    text-decoration:none;
    text-align:center;
    cursor:pointer;
    border-radius:5px;
    background-color:gold;
}

.playernames {
    display: flex;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 30px;
}

input {
    background-color: #eef3b5;
}

#ply1 {
    margin: 0 0 0 10px;
    padding: 0;
    min-width: 110px;
    max-width: 120px;
    text-shadow: 1px 1px black, 1px 1px black, 1px 1px black, 1px 1px black;
    color: #06dc3b;
}

#vs {
    margin: 0;
    padding: 0;
    flex: 1;
    text-align: center;
    color:gold;
    text-shadow: 1px 1px black, 1px 1px black, 1px 1px black, 1px 1px black;
}

#ply2 {
    margin: 0 10px 0 0;
    padding: 0;
    min-width: 110px;
    max-width: 120px;
    text-shadow: 1px 1px black, 1px 1px black, 1px 1px black, 1px 1px black;
    color: red;
}


#pl1 {
    float: left;
    -webkit-appearance: none;
    appearance: none;
    width: 215px;
    height: 20px;
    margin: 8px 10px;
    border: none;
}

#pl2 {
    float: right;
    -webkit-appearance: none;
    appearance: none;
    width: 215px;
    height: 20px;
    margin: 8px 10px;
    border: none;
}

progress::-webkit-progress-bar {
    background: white;
    border-radius: 50px;
    padding: 2px;

}

progress::-webkit-progress-value {
    border-radius: 50px;
    background-color: red;
}





.startFight {
    display:block; /* change this from inline-block */
    width:40%; /* setting the width */
    margin:0 auto; /* this will center  it */
    position:relative;
    font-size:30px;
    color:#fff;
    text-decoration:none;
    text-align:center;
    cursor:pointer;
    border-radius:5px;
    background-color:#d50000;
    bottom: 235px;
}

.hide {
    display: none;
}


#cat, #dog {
    margin:0 auto; /* this will center  it */
    color:#fff;
    text-decoration:none;
    text-align:center;
    cursor:pointer;
    border-radius:5px;
    background-color:#d50000;
    bottom: 45px;
    position: relative;
}

#cat {
    left: -10px;
}

#dog {
    right: 5px;
}





.rounds {
    bottom: 76px;
    position: relative;
    display: block;
}


#www, #mmm, p {
    display: inline-block;
    color: white;
}

#www {
    float: left;
    margin: 3px;
}

#mmm {
    float:right;
    margin: 3px;
}




.character-container {
    margin: 5px;
    height: 330px;
    display: inline-block;
    width: 100%;
}


.deadgoku {
    background: url('Goku copy.png') no-repeat -2316px -287px;
    width: 72px;
    height: 29px;
    transform: scale(2);
    margin: 0;
    padding: 0;
    bottom: 300px;
    position: absolute;
    left: 300px;

}



.goku {
    background: url('Goku.png') no-repeat -173px -7px;
    width: 38px;
    height: 70px;
    transform: scale(2);
    margin: 0;
    padding: 0;
    bottom: 300px;
    position: absolute;
    left: 500px;

}

.goku.idle {
    -webkit-animation: gokuidle .4s steps(2) infinite;
}

@-webkit-keyframes gokuidle {
    from {
        background-position: -173px -7px;
    }
    to {
        background-position: -262px -14px;
    }
}





.deadfrieza {
    background: url('freiza copy.png') no-repeat -323px -904px;
    width: 64px;
    height: 37px;
    transform: scale(2);
    margin: 0;
    padding: 0;
    bottom: 300px;
    position: absolute;
    right: 300px;

}


.frieza {
    background: url('freiza.png') no-repeat -925px -21px;
    width: 62px;
    height: 70px;
    transform: scale(2);
    margin: 0;
    padding: 0;
    bottom: 300px;
    position: absolute;
    right: 460px;

}

.frieza.idle {
    -webkit-animation: friezaidle .4s steps(2) infinite;
}

@-webkit-keyframes friezaidle {
    from {
        background-position: -925px -21px;
    }
    to {
        background-position: -801px -22px;
    }
}

#bob {
    background: url('bob.png') no-repeat -7px -279px;
    width: 40px;
    height: 40px;
    transform: scale(5);
    margin: 0;
    padding: 20px 0 0 20px;
    position: absolute;
    bottom: 400px;
    left: 700px;
    clear: both;
    -webkit-animation: bob .6s steps(6) infinite;
}

@-webkit-keyframes bob {
    from {
        background-position: -7px -279px;
    }
    to {
        background-position: -288px -278px;
    }
}
