* {
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    box-sizing:border-box;
}


.wrapper {
    margin-right: auto;
    margin-left: auto;
    width: 600px;
    height: 400px;
    background-image: url("Background.png");
    background-size: cover !important;
    background-repeat: no-repeat;

}


.submitnames {
    display: flex;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 30px;
}

#player1 {
    margin: 0;
    padding: 3px 0 0 3px;
    flex: 1;
}


#player2 {
    margin: 0;
    padding: 3px 3px 0 0;

}

.playernames {
    display: flex;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 30px;
}


#ply1 {
    margin: 0;
    padding: 0 0 0 3px;
    min-width: 110px;
    max-width: 120px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    color: #00d23e
}

#vs {
    margin: 0;
    padding: 0;
    flex: 1;
    text-align: center;
    color:#dacb2a;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

}

#ply2 {
    margin: 0;
    padding: 0 3px 0 0;
    min-width: 110px;
    max-width: 120px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    color: #cd0d0d;
}













.character-container {
    margin: 5px;
    height: 330px;
    display: inline-block;
}

#goku {
    background: url('Goku.png') no-repeat -173px -7px;
    width: 38px;
    height: 70px;
    transform: scale(2);
    margin: 0;
    padding: 0;
    bottom: 315px;
    position: absolute;
    left: 300px;

}

.goku-idle {
    -webkit-animation: gokuidle .8s steps(2) infinite;
}

@-webkit-keyframes gokuidle {
    from {
        background-position: -173px -7px;
    }
    to {
        background-position: -262px -14px;
    }
}




#frieza {
    background: url('freiza.png') no-repeat -925px -21px;
    width: 62px;
    height: 70px;
    transform: scale(2);
    margin: 0;
    padding: 0;
    bottom: 315px;
    position: absolute;
    right: 300px;

}

.frieza-idle {
    -webkit-animation: friezaidle .8s steps(2) infinite;
}

@-webkit-keyframes friezaidle {
    from {
        background-position: -925px -21px;
    }
    to {
        background-position: -801px -22px;
    }
}
